.passed {
    color: #4F8A10;
}

a.passed:hover {
    color: #348017;
}

.failed {
    color: #FF2400;
}

a.failed:hover {
    color: #E41B17;
}

.skipped {
    color: #B6B6B4;
}

.undefined {
    color: #B6B6B4;
}

.selected {
    font-weight: bold;
}

.tag {
    color: #246ac1;
}

.placeholder {
    color: #d95fc1;
}

.pointer {
    cursor: pointer;
}

a {
    color: inherit;
}